<ul class="navbar" ng-controller="eventsListCtrl">
  <li><a class="logo" id="active" href="#/eventsHome">StudyMate</a></li>
</ul>

<h1 class="mainTitle">StudyMate</h1>


<div class="signinSignupBackground container-fluid">
        <div class="signinSignupHeader panel panel-default">
          <h1 class="signinSignupTitle">Sign Up</h1>
        </div>

        <div id='signin' class="form-signin col-md-12 col-sm-12 col-xs-12">
          <form name="signupForm" ng-submit='signup()' ng-controller="logController">
            <label for="inputName" class="sr-only">Name</label>
            <input type='text' id="inputName" class="form-control username" placeholder="Username" ng-model='user.username' required autofocus>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" class="form-control password" placeholder="Password" ng-model='user.password' required>
            <button class="btn btn-md btn-block" type="submit">submit</button>
            <a class="toggleSigninSignup" href="#/signin">Already have an account? <strong>Signin</strong> ...</a>
          </form>
        </div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <ol class="instructions">
          <li>create a free account</li>
          <li>join existing study events</li>
          <li>make your own study events</li>
          <li>profit</li>
        </ol>
      </div>


</div>
