<div id='signup'>
  <form name="signupForm" class="form-signin" ng-submit='signup()' ng-controller="logController">
    <h2 class="form-signin-heading">Please Sign Up</h2>
    <label for="inputName" class="sr-only">Name</label>
    <input type='text' id="inputName" class="form-control" placeholder="Username" ng-model='user.username' required autofocus="">
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" class="form-control" placeholder="Password" ng-model='user.password' required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
    <a href="#/signin">Already have an account? <strong>Signin</strong> ...</a>
  </form>
</div>
