<div class="createEvent" ng-controller="createEventCtrl">
  <form ng-submit="sendEvent()">
    Topic: <input type="text" ng-model="event.topic" required></input><br>
    Place:<input type="text" ng-model="event.place" required></input><br>
    Date:<input type="date" ng-model="event.date" required min="{{currentDate | date: 'yyyy-MM-dd'}}"></input><br>
    Time:<input type="time" ng-model="event.time"></input><br>
    <button>Add</button>
  </form>
</div>

<div class="allEvents" ng-controller="eventsListCtrl">
  <div class="indivEvent" ng-repeat="event in data">
    <div class="topic">Topic:{{event.topic}}</div><br>
    <div class="place">Place:{{event.place}}</div><br>
    <div class="date">Date:{{event.datetime}}</div><br>
    <!-- <div class="time">Time:{{event.time}}</div><br> -->
    <!-- Guests:<div class="guest">{{event.guests}}</div><br> -->
  </div>
</div>
