
<div class="allEvents" ng-controller="eventsListCtrl as elc">

<!-- ///////////create event view/////////// -->
  <div class="createEvent" ng-controller="createEventCtrl">
    <form ng-submit="sendEvent()">
      <label>Topic: <input type="text" ng-model="event.topic"></input></label><br>
      <label>Place:<input type="text" ng-model="event.place"></input></label><br>
      <label>Date:<input type="text" ng-model="event.date"></input></label><br>
      <label>Time:<input type="text" ng-model="event.time"></input></label><br>
      <button>Add</button>
    </form>
  </div>

<!-- /////////all event view////////////// -->
  <div class="indivEvent" ng-repeat="event in elc.data">
    Topic:<div class="topic">{{event.topic}}</div><br>
    Place:<div class="place">{{event.place}}</div><br>
    Date:<div class="date">{{event.date}}</div><br>
    Time:<div class="time">{{event.time}}</div><br>
    Guests:<div class="time">{{event.guests}}</div><br>
  </div>


</div>
