
<!-- NAV BAR -->
<ul class="navbar" ng-controller="eventsListCtrl">
  <li><a class="logo" id="active" href="#/eventsHome">StudyMate</a></li>
  <li class="logout pull-right"ng-click="signout()"><a href="#/signin" >logout</a></li>
</ul>


  <div class="col-md-4 myEvents" ng-controller="eventsListCtrl">
    <li class="list-group-item eventsListItem" ng-repeat="event in data | filter: upcomingEvents | orderBy:'datetime'">
      <span>{{event.topic}}</span>
      <span>{{event.place}}</span>
      <span>{{event.formatted}}</span>
      <span ng-repeat="guest in allGuestLists[event.id]"> {{guest}} </span>
    </li>
  </div>




  <!-- <div class="row-fluid"> -->
    <div id="eventsList" class="col-md-8 col-sm-12 col-xs-12 eventPanel">
      <div ng-controller="eventsListCtrl">
        <!-- Add Event Table -->
        <div ng-controller="createEventCtrl" class="panel panel-primary createEventHeader" isOpen="false">
          <div class=" panel-heading createEventHeader" ng-click="isOpen = !isOpen">
            + Host a new Event!
          </div>
          <div class="panel-body" ng-show="isOpen">
            <form class="createEvent form-horizontal" ng-submit="sendEvent()">

              <span class="glyphicon glyphicon-text-background"></span>
              <input class="form-control" type="text" ng-model="event.topic" placeholder="Topic" required autofocus></input><br>
              <span class="glyphicon glyphicon-map-marker"></span>
              <input class="form-control" type="text" ng-model="event.place" placeholder="Place" required></input><br>
              <span class="glyphicon glyphicon-calendar"></span>
              <input class="form-control dropdown" type="date" ng-model="event.date" required min="{{currentDate | date: 'yyyy-MM-dd'}}"></input><br>
              <span class="glyphicon glyphicon-time"></span>
              <input class="form-control" type="time" ng-model="event.time" required><br>

              <button class="btn btn-primary addRemoveButton">Add</button>
            </form>
          </div>
        </div>

        <ul class="list-group eventsList">
          <li class="list-group-item eventsListItem" ng-repeat="event in data | filter: upcomingEvents | orderBy:'datetime'">
            <span class="col-sm-2 text-left pull-left"><strong>Topic:</strong></span>
            <span class="col-sm-4">{{event.topic}}</span>
            <br>
            <span class="col-sm-2 text-left pull-left"><strong>Place:</strong></span>
            <span class="col-sm-4">{{event.place}}</span>

            <button class="btn btn-success pull-right joinLeaveButton" ng-click="eventAttendanceToggle(event)">Join/Leave</button>

            <br>
            <span class="col-sm-2 text-left pull-left"><strong>Date:</strong></span>
            <span class="col-sm-4">{{event.formatted}}</span>
            <br>
            <div ng-init="getGuestList(event)"></div>
            <span class="col-sm-2 text-left pull-left"><strong>Attendees:</strong></span>
            <span class="col-sm-1 guestList" ng-repeat="guest in allGuestLists[event.id]"> {{guest}} </span>
            <br>
          </li>
        </ul>
      </div>
    </div>

    <!-- <div class="clearfix visible-sm"></div> -->


    <!-- <div ng-controller="createEventCtrl">

      <div  class="col-lg-4 col-md-4 col-sm-12 col-xs-12" id="createEvent">
        <div class="panel panel-primary">
          <div class="panel-heading">
            Post an Event!
          </div>
          <div class="panel-body">
            <form class="createEvent form-horizontal" ng-submit="sendEvent()">

              <span class="glyphicon glyphicon-text-background"></span>
              <input class="form-control" type="text" ng-model="event.topic" placeholder="Topic" required autofocus></input><br>
              <span class="glyphicon glyphicon-map-marker"></span>
              <input class="form-control" type="text" ng-model="event.place" placeholder="Place" required></input><br>
              <span class="glyphicon glyphicon-calendar"></span>
              <input class="form-control dropdown" type="date" ng-model="event.date" required min="{{currentDate | date: 'yyyy-MM-dd'}}"></input><br>
              <span class="glyphicon glyphicon-time"></span>
              <input class="form-control" type="time" ng-model="event.time" required><br>

              <button class="btn btn-primary addRemoveButton">Add</button>
            </form>
          </div>
        </div>
      </div> -->

    </div>

  <!-- </div> -->
